name: Tests

on: 
  push:
    branches:
      - '**'
  schedule:
    # run at 12 UTC, hopefully after BR's daily in-season updates
    # run weekly, because anything more would be overkill
    - cron: '0 12 * * 6'

jobs:
  pytest:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [3.10, 3.11, 3.12, 3.13, 3.14]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install brlib
        run: pip install -e .[dev]

      - name: Run pytest
        run: pytest
