name: Tests

on:
  push:
    branches:
      - '**'
  schedule:
    # run at 12 UTC, hopefully after BR's daily in-season updates
    # run weekly, because anything more would be overkill
    - cron: '0 12 * * 6'

jobs:
  pytest:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.14"]
        exclude:
          - os: windows-latest
            python-version: "3.10"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Create virtual environment
        run: uv venv

      - name: Install brlib
        run: uv pip install --resolution highest -e .[dev]

      - name: Check import sorting with isort
        run: uv run isort --check-only .

      - name: Check formatting with Black
        run: uv run black --check .

      - name: Run pytest
        run: uv run pytest
